# Framework da API
fastapi
uvicorn[standard]

# Banco de Dados e ORM
sqlalchemy
mysqlclient
alembic 

# Validação de dados e configurações
pydantic
pydantic-settings

# Jobs agendados
apscheduler

# Ferramentas para APIs externas
requests
groq

# APIs do Google
google-api-python-client
google-auth-oauthlib

# Criptografia
cryptography