fastapi
uvicorn[standard]
sqlalchemy
PyMySQL
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
apscheduler
requests
groq
google-api-python-client
google-auth-oauthlib
cryptography